################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/6 сро создание json  сервиса/bin/Debug/net8.0
